@import "tailwindcss";

body {
    background-image: url(background_portfolio_image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#nav-about {
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    /* Multiple shadows to cover all sides */
}

#nav-projects {
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    /* Multiple shadows to cover all sides */
}

#nav-skills {
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    /* Multiple shadows to cover all sides */
}

#nav-contacts {
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    /* Multiple shadows to cover all sides */
}

#nav-name {
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    /* Multiple shadows to cover all sides */
}